.App {
  text-align: center;
  position: relative;
}

.App-logo {
  /* display: flex;
  flex-direction: row; */
  position: absolute;
  left: 10px;
  top: 10px;
  height: 4vmin;
  pointer-events: stroke;
  /* align-items: center; */
  /* offset-position: right 3em bottom 10px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateX(10px) translateY(20px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
  }
}
