.navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 0rem;
}

a {
  margin-left: 1rem;
  margin-bottom: 0rem;
  background-color: burlywood;
  text-decoration: none;
}

a:visited {
  color: red;
}
